export(chooseClusterRes)
export(clusterPlots)
export(crToSeurat)
export(crToMTX)
export(featureFiltration)
export(mergeSubCluster)
export(processSeurat)
export(produceMarkers)
export(produceQCPlots)
export(renameClusters)
export(umapCellAnno)
export(variableGeneMatrix)
export(dendoSeurat)
import(tidyverse)
import(factoextra)
import(Seurat)
import(Matrix)
import(pheatmap)
import(magrittr)
import(scales)
import(glue)
import(future)
import(ggrepel)

